{% extends 'base.html'%}

{%load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About XaiYo Property Development</h1>
          <p class="lead">Our agents are Area Specialists who know their areas inside out 
            – they focus on an area intensively using superb local knowledge and familiarity to get the best price,
            and best location as well as in the best time for our vendors.
            <br/>
            Office location: 107 Saynamngern Rd, Xaythany district, Vientiane capital, Laos. <br/>
            Website: www.XaiyoProperty.com <br/>
            Mobile : +8562022426353 <br/>
            Mobile & Whatsapp: +8562022321177
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We centralize the most perfect properties and fit your wishes</h2>
          <p class="lead">Striving for the best offers to our clients is our TOP priority</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">While the world is frustrating with the pandemic of COVID-19, we truthfully wish our value customers stay safe, keep maintaining both physical and mental health in good position 
            as well as critically follow the instruction from local health authorirties and world health organization. <br/>
             It is obvious seen that the world economy is devastated by this unprecedented situation. In order to keep continueing the best serves
             to our value customers, we have the great plan in place to execute in 24/7 and provide the best price and payment terms for our clients</p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}

            <div class="card">
              <img class="card-img-top" src="{{realtor.photo.url}}" alt="Seller of the month">
              <div class="card-body">
                <h5 class="card-title">Seller Of The Month</h5>
                <h6 class="text-secondary">{{ realtor.name}}</h6>
                <p class="card-text">{{ realtor.description }}
                </p>
              </div>
            </div>

            {% endfor %}

          {% endif %}
         
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Feel free to view our featured listings and consult our realtors for any question, either directly contact 
       us or leave the message with your contact information. We then, our teams, will contact you immediately as well as schedule the most appropriate time for you to start our discussion</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
          <div class="col-md-4">
            <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
            <h4>{{ realtor.name }}</h4>
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> Realtor</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{realtor.phone}}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
          </div>

          {% endfor %}
        {% else %}
          <d class="col-md-12">
            <p>No Realtors Available</p>
          </d>
        {% endif %}

      </div>
    </div>
  </section>

{% endblock %}